name: Deploy TimeZoneApp to IIS

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: self-hosted  
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Restore Dependencies
      run: dotnet restore

    - name: Build Project
      run: dotnet publish -c Release -o ./publish

    - name: Stop IIS Site
      run: |
        Import-Module WebAdministration
        Stop-WebAppPool -Name "TimeZoneApp"
        Stop-Website -Name "TimeZoneApp"
      shell: pwsh

    - name: Deploy to IIS
      run: |
        $iisPath = "C:\inetpub\TimeZoneApp"
        Remove-Item -Recurse -Force -Path $iisPath\*
        Copy-Item -Path ./publish/* -Destination $iisPath -Recurse
      shell: pwsh

    - name: Start IIS Site
      run: |
        Import-Module WebAdministration
        Start-WebAppPool -Name "TimeZoneApp"
        Start-Website -Name "TimeZoneApp"
      shell: pwsh
